crewai
pandas
matplotlib
faiss-cpu
sentence-transformers
chainlit
speechrecognition
reportlab
fpdf
pyPDF2
chainlit
speechrecognition

# python -m pip install --upgrade --force-reinstall reportlab -- for force reinstall
# python -m pip install PyPDF2